<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Shopping Cart</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/shoppingCart.css}">

</head>

<body th:with="cart=${session.sessionModel.cart}">
    <div th:replace="fragments/header.html :: header(title='Shopping Cart')"></div>

    <main th:object="${cart}">
        <article class="wrapper">

            <section class="cartContainer">
                <div th:each="product : ${cart.productMap}" class="cartItem">
                    <div class="itemInfo">
                        <span th:text="${product.key.name}"></span>
                        <span th:text="|Price per item: ${product.key.basePrice}|"></span>
                        <span th:text="|Quantity: ${product.value}|"></span>
                        <span th:text="|Cost: ${cart.getItemSum(product.key)}|"></span>
                    </div>
                    <div class="itemEdit">
                        <form method="POST" th:action="@{/webshop/shoppingcart(id=__${product.key.id}__,action=add)}">
                            <input type="submit" value="Increase" />
                        </form>
                        <form method="POST"
                            th:action="@{/webshop/shoppingcart(id=__${product.key.id}__,action=remove)}">
                            <input type="submit" value="Decrease" />
                        </form>

                    </div>

                </div>
            </section>
            <section class="metaContainer">
                <span th:text="|Total sum: *{getTotalSum()}|"></span>
                <span th:text="|Total articles: *{getTotalItems()}|"></span>
                <a href="/webshop/checkout">Go to Checkout</a>
            </section>

        </article>
    </main>





    <footer>
        <a href="/webshop/products">Back to Shopping</a>
        <div>Footer Here</div>

    </footer>


</body>

</html>